@charset "utf-8";
* {
	box-sizing: border-box;
}

p, li, h2 {
font-family: 'Noto Sans JP', sans-serif;
}

    @media (max-width : 649px){

    /* メニューバー */
    ul.ddmenu {
    display: none;
    }

    #humMenu {
        padding: 12px;
        position: fixed;
        z-index: 20;
    }

    #humCheck, #humClose {display: none;}
    #humOpen {
        display: block;             /* ブロック要素にする */
        width: 58px;
        cursor: pointer;            /* マウスの矢印が変化する */
    }

    #humOpen:hover {
        opacity: 0.5;           /* 透明度 */
    }

    #humOpen img {display: block;}
    #humClose, nav {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
    }

    #humClose {             /* クリック後の背景画面 */
        z-index: 2;
        width: 100%;
        background: rgb(148, 146, 146);
        opacity: 0.8;
        transition: 0.5s;           /* アニメーションタイム */
    }

    nav{                /* クリック後のメイン画面 */
        z-index: 3;
        width: 330px;
        background: rgb(218, 218, 218);
        transition: 0.5s;
        transform: translateX(-100%);
    }

    #humCheck:checked ~ #humClose {display: block;}         /* もう一度押すとメニューが閉じる */
    #humCheck:checked ~ nav {
        transform: translateX(0);
    }

    nav ul {
        overflow: hidden;
        list-style: none;
        font-size: 20px;
    }

    nav li {
        padding: 8px 0;
        margin: 0px 0;
    }

    nav li a:hover {
        color: #e04b4b;
    }

    nav li a {
        font-size: 20px;
        text-decoration: none;
        color:black;
    }

    .SNS {
    display: flex;
    margin:0;
    }
    

    .flowbtn10{     /* SNSアイコン */
        font-size:35px;
        text-decoration:none;
        transition:.5s;
        color:#444;	
        }

   


    /* 全体の背景色 */
    body{                                   
        background-color: #a09c9c;
    }
    

   /*  タイトル */
    .images {
    text-align: center;
    position: relative;   /* 親要素の位置を固定 */
    }

    .images img {
    width:100%;      
    height:500px;
    }
    
    .title {
    font-size: 70px;
    font-family: 'Mv Boli',cursive;
    color: #eb2929;
    text-shadow: 5px 5px 10px pink;     /* 右下ぼかし値 */
    position:absolute;    /* 親要素の位置から相対的に移動 */
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);   /* 子要素のどの部分を真ん中にするか */
    }
   
    .subtitle {
    font-size: 3vw;
    color: #f1f0f0;
    white-space: nowrap;   /* 改行しないようにする */
    position:absolute;    
    top:60%;
    left:50%;
    transform: translate(-50%,-50%);   
    }    
    

    /* 植木鉢カバー */
    .wrap2 {
        position: relative;       /* imgではposition効かないため */
        margin: 100px 10% 0 10%;
        text-align: center;
        }
    
        .wrap2 img {
        min-width: 400px;
        width: 100%;
        position: relative;     /* positionがないとzindex効かない */
        box-shadow: 5px 5px 10px gray;          /* 影　右下ぼかし色 */
        }
    
        .maintext  {
        position: absolute;
        top: 2%;
        left: 5%;
        padding: 2% 5%;
        z-index: 10;
        font-size: 2vw;             /* 画面サイズの幅に合わせて変化 */
        font-weight: bold;
        color: white;
        background-color: rgba(30, 80, 43, 0.5);
        }


    /* 試験管花瓶 */
    .wrap3 {
        position: relative;       /* imgではposition効かないため */
        margin: 100px 10% 0 10%;
        text-align: center;
        }
    
        .wrap3 img {
        min-width: 400px;
        width: 100%;
        position: relative;     /* positionがないとzindex効かない */
        box-shadow: 5px 5px 10px gray;          /* 影　右下ぼかし色 */
        }
    
        .maintext2  {
        position: absolute;
        top: 2%;
        left: 5%;
        padding: 2% 5%;
        z-index: 10;
        font-size: 2vw;             /* 画面サイズの幅に合わせて変化 */
        font-weight: bold;
        color: white;
        background-color: rgba(107, 29, 103, 0.5);
        }
    

    /* 生活品 */
    .wrap4 {
        position: relative;       /* imgではposition効かないため */
        margin: 100px 10% 0 10%;
        text-align: center;
        }
    
        .wrap4 img {
        min-width: 400px;
        width: 100%;
        position: relative;     /* positionがないとzindex効かない */
        box-shadow: 5px 5px 10px gray;          /* 影　右下ぼかし色 */
        }
    
        .maintext3  {
        position: absolute;
        top: 2%;
        left: 5%;
        padding: 2% 5%;
        z-index: 10;
        font-size: 2vw;             /* 画面サイズの幅に合わせて変化 */
        font-weight: bold;
        color: white;
        background-color: rgba(16, 21, 104, 0.5);
        }

        
        /*Fullcontrol */      
        .wrap5 {
        position: relative;       /* imgではposition効かないため */
        margin: 100px 10% 0 10%;
        text-align: center;
        margin-bottom: 20%;
        }
    
        .wrap5 img {
        min-width: 400px;
        width: 100%;
        position: relative;     /* positionがないとzindex効かない */
        box-shadow: 5px 5px 10px gray;          /* 影　右下ぼかし色 */
        }
    
        .maintext4  {
            position: absolute;
            top: 2%;
            left: 5%;
            padding: 2% 5%;
            z-index: 10;
            font-size: 2vw;             /* 画面サイズの幅に合わせて変化 */
            font-weight: bold;
            color: rgb(250, 248, 248);
            background-color: rgb(68, 66, 63);
            }
        
}









@media (min-width : 650px){         /* 携帯750px */

    /* メニューバー */
    .ddmenu {
    text-align: center;    
    }

    #humMenu {
    display: none;
    }

    ul.ddmenu {
        margin: 0px;
        padding-top: 5px;
        margin-left: 10%;
        /* width: 1000px;
        display: flex; */    /* 横並びに配置 */
    }
    
    ul.ddmenu li {
        list-style: none;       /* liタグの箇条書きの点を消す */
        display: inline-block;   /* 横並びに配置 */
        width: 24%;
        position:relative;
    }
    ul.ddmenu a {
        text-decoration: none;  /* リンクの下線を消す */
        color: white;
        font-weight: bold;
        display: block;         /* 項目内全域をリンク可能 */
        line-height: 40px;
        padding-right: 200px;
    }
    ul.ddmenu a:hover{
        color: rgb(12, 12, 12);      /* マウスオーバー時の文字色 */
    }

    /* 通常時のサブメニュー */
    ul.ddmenu ul{
        display: none;      /* 標準では非表示 */
        margin-top: 0px;        /* 外側の余白0 */
        padding: 0px;       /* 内側の余白0 */
        position: absolute;
        z-index: 1000;      /* 最前面に設定 */
    }
    ul.ddmenu li:hover ul{
        display: block;     /* マウスが載っている間項目を表示 */
        background-color: rgba(12, 12, 12, 0.3);        /* 最後の数字は透過度 */
    }
    
    /* サブメニューの装飾 */
    ul.ddmenu ul li {
        width: 80%;
        /* border-top: 1px solid rgb(156, 154, 154);  */      /* 横線 */
    }
    ul.ddmenu ul li a {
        line-height: 35px;
        text-align: left;
        padding-left: 0px;
        padding-right: 0px;
        font-weight: normal;
    }
    ul.ddmenu ul li a:hover {
        color: #e04b4b;
    }


    body{                                   /* 全体の背景色 */
        background-color: #a09c9c;
    }
    

   /*  タイトル */
    .images {
    text-align: center;
    position: relative;   /* 親要素の位置を固定 */
    }

    .images img {
    width:1000px;       /* 1000前後がおすすめ */
    height:800px;
    margin: 0px;
    }
    
    .title{
    font-size: 120px;
    font-family: 'Mv Boli',cursive;
    color: rgba(245, 49, 49);
    text-shadow: 5px 5px 10px pink;     /* 右下ぼかし値 */
    position:absolute;    /* 親要素の位置から相対的に移動 */
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);   /* 子要素のどの部分を真ん中にするか */
    }
   
    .subtitle{
    font-size: 30px;
    color: #f1f0f0;
    white-space: nowrap;   /* 改行しないようにする */
    position:absolute;    
    top:60%;
    left:50%;
    transform: translate(-50%,-50%);   
    }    


    /* 植木鉢カバー */
    .wrap2 {
    position: relative;       /* imgではposition効かないため */
    margin: 200px 10% 0 10%;
    text-align: center;
    }

    .wrap2 img {
    min-width: 400px;
    width: 100%;
    position: relative;     /* positionがないとzindex効かない */
    box-shadow: 5px 5px 10px gray;          /* 影　右下ぼかし色 */
    }

    .maintext  {
    position: absolute;
    top: 2%;
    left: 5%;
    padding: 2% 5%;
    z-index: 10;
    opacity: 0;
    transition: all 1s ease;
    padding-top: 0;
    font-size: 2vw;             /* 画面サイズの幅に合わせて変化 */
    font-weight: bold;
    color: white;
    background-color: rgba(30, 80, 43, 0.5);
    }

    .wrap2:hover .maintext {
    opacity: 1;
    padding-top:2%;
    }


    /* 試験管花瓶 */
    .wrap3 {
        position: relative;       /* imgではposition効かないため */
        margin: 200px 10% 0 10%;
        text-align: center;
        }
    
        .wrap3 img {
        min-width: 400px;
        width: 100%;
        position: relative;     /* positionがないとzindex効かない */
        box-shadow: 5px 5px 10px gray;          /* 影　右下ぼかし色 */
        }
    
        .maintext2  {
            position: absolute;
            top: 2%;
            left: 5%;
            padding: 2% 5%;
            z-index: 10;
            opacity: 0;
            transition: all 1s ease;
            padding-top: 0;
            font-size: 2vw;             /* 画面サイズの幅に合わせて変化 */
            font-weight: bold;
            color: white;
            background-color: rgba(107, 29, 103, 0.5);
            }
        
        .wrap3:hover .maintext2 {
            opacity: 1;
            padding-top:2%;
            }
        
    
    /* 生活品 */
    .wrap4 {
        position: relative;       /* imgではposition効かないため */
        margin: 200px 10% 0 10%;
        text-align: center;
        }
    
        .wrap4 img {
        min-width: 400px;
        width: 100%;
        position: relative;     /* positionがないとzindex効かない */
        box-shadow: 5px 5px 10px gray;          /* 影　右下ぼかし色 */
        }
    
        .maintext3  {
            position: absolute;
            top: 2%;
            left: 5%;
            padding: 2% 5%;
            z-index: 10;
            opacity: 0;
            transition: all 1s ease;
            padding-top: 0;
            font-size: 2vw;             /* 画面サイズの幅に合わせて変化 */
            font-weight: bold;
            color: white;
            background-color: rgba(16, 21, 104, 0.5);
            }
        
        .wrap4:hover .maintext3 {
            opacity: 1;
            padding-top:2%;
            }

        
        /* FullControl */
    .wrap5 {
        position: relative;       /* imgではposition効かないため */
        margin: 200px 10% 0 10%;
        text-align: center;
        margin-bottom: 20%;
        }
    
        .wrap5 img {
        min-width: 400px;
        width: 100%;
        position: relative;     /* positionがないとzindex効かない */
        box-shadow: 5px 5px 10px gray;          /* 影　右下ぼかし色 */
        }
    
        .maintext4  {
            position: absolute;
            top: 2%;
            left: 5%;
            padding: 2% 5%;
            z-index: 10;
            opacity: 0;
            transition: all 1s ease;
            padding-top: 0;
            font-size: 2vw;             /* 画面サイズの幅に合わせて変化 */
            font-weight: bold;
            color: rgb(250, 248, 248);
            background-color: rgb(68, 66, 63);
            }
        
        .wrap5:hover .maintext4 {
            opacity: 1;
            padding-top:2%;
            }
   


    

    /* 下からフェードイン */
    .slide-bottom {
	    opacity: 0;                             /* アニメーションが実行される前の状態　要素の透明度が0 */
	    transform: translate(0, 20px);          /* 要素の上下左右の調整　左右が0下20pxから */
	    transition: all 2s 0s ease-out;        /* 全てを対象、変化の時間、待機時間、ゆっくり終わる */
    }

}
